<style>
	.container {
  		max-width: 100%;
  		margin: 0 auto;
	}

	.container > div {
 	 	border: 2px solid rgb(233,171,88);
  		border-radius: 9px;
  		background-color: rgba(233,171,88,.5);
  		padding: 0.5em;
  		color: #d9480f;
	}
	.container {
  		display: grid;
  		grid-template-columns: min-content  max-content ;
  		grid-gap: 5px;
  		grid-auto-rows: minmax(10px, auto);
	}
	.header {
  		grid-column: 1 / 3;
  		grid-row: 1;
		grid-column-align: center;
		grid-row-align: center;
	}
	.menu {
  		grid-column: 1 / 1;
  		grid-row: 2;
	}
	.content {
  		grid-column: 2 / 2;
		grid-row: 2;
		height: 400px;  /*высота нашего блока */
		width: 400px;  /* ширина нашего блока */
		background: rgb(101, 214, 218); /* цвет фона, белый */
		border: 1px solid #C1C1C1; /* размер и цвет границы блока */
	}
	.footer {
  		grid-column: 1 / 3;
  		grid-row: 3;
	}

	.buttons{
		border-radius:  5px;
		border: 2px solid rgb(233,171,88);
		background-color: rgba(233,171,88,.5);
	}
</style>